// Here goes your CSS
@import 'layout/main';

@keyframes down {
    0% {
        top: -50%
    }

    60% {
        top: 60%;
    }

    85% {
        top: 47%;
    }

    100% {
        top: 50%;
    }

}

@keyframes up {
    0% {
        top: 50%
    }

    20% {
        top: 60%;
    }

    100% {
        top: -50%;
    }

}

#show-popup-form {
    opacity: 1;
    transition: .5s;

}

.popup h2 {
    font-family: 'Lobster', cursive;
    margin: 0;
}

.popup {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    font-family: sans-serif;

    * {
        box-sizing: border-box;
    }

    .close-btn {
        position: absolute;
        right: -10px;
        top: -10px;
        width: 30px;
        height: 30px;
        background-color: #000;
        border-radius: 50%;
        cursor: pointer;
        // transform: translate(0);
        transition: transform 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before,
        &::after {
            content: "";
            position: absolute;
            height: 18px;
            width: 5px;
            background-color: #fff;
        }

        &::before {

            transform: rotate(45deg);
        }

        &::after {

            transform: rotate(-45deg);
        }

        &:hover {
            transform: rotate(180deg);
        }
    }


    input:not([type="checkbox"]) {
        width: 100%;
        padding: 15px;
        margin-top: 20px;
        border: 1px solid #000;
    }

    input:not(.popup-checkbox) {
        display: block;
    }

    input[type="email"],
    input[type="password"] {
        padding-left: 25px;
    }

    input[type="submit"] {
        cursor: pointer;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        transition: 0.3s;

        &:hover {
            background-color: #fc888e;
            border: 1px solid #fc888e
        }
    }
}

.success-msg {
    display: none;
    font-family: 'Lobster', cursive;
    font-size: 42px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    opacity: 0;
    transition: .5s;
    padding: 30px;
    border-radius: 50%;
    text-align: center;
}

.checkbox-label {
    cursor: pointer;
    display: flex;
    margin-top: 20px;
    align-items: center;
    min-width: 200px;
}


.popup-checkbox {
    display: inline-block;
    -webkit-appearance: none;
    border: 1px solid #000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    position: relative;
    margin-right: 10px;
    cursor: pointer;

    &:checked::after {
        content: '\2714';
        font-size: 18px;
        position: absolute;
        top: -5px;
        left: 1px;
        color: #000;
    }
}

input {
    outline: none;
}

.form-item-wrapper {
    position: relative;
}

.invalid-msg {
    font-size: 11px;
    color: red;
    position: absolute;
    bottom: -15px;
    width: 100%;
    margin: 0;
    display: none;
}

.invalid {
    border: 1px solid red;
}

@media (max-width: 650px) {

    .popup input:not([type="checkbox"]),
    .checkbox-label {
        margin-top: 30px;
    }

}